/* font-family: 'PT Sans', sans-serif; voor artikelen!/
/ font-family: 'KoHo', sans-serif; voor text!*/

body{
    margin: 0px;
    padding: 0px;
    font-family: 'KoHo', sans-serif;
}


img  {
    overflow: visible;
    display: inline-block;
    float: left;
    width: 100%;
    background-color:rgb(230, 255, 250);
}

div#wrapper{
    font-family: 'KoHo', sans-serif;
    background-color:rgb(230, 255, 250);
}

li{
    background-color:rgb(128,128,128);
    padding: 10px;
    border-top: 1px solid white;
    padding-left: 20px;
}
ul{
    padding: 0px;
    margin: 0px;
}

li a{
    color: white;
    text-decoration: none;
}

section, footer{
    padding: 15px;
    padding-right:30px ;
    padding-top:25px ;

}

footer{
    background-color: rgb(128,128,128);
    color: darkgray;
    clear: both;

}

footer h4{
    color: white;
}

h1,h2 , h3,h4, nav {
    font-family: 'PT Sans', sans-serif !important;
}

@media all and (min-width: 550px) {
    img {
        width: 100%;
        height: 325px;

    }

    article#box {
        width: 100%;
    }

    p, article {
        width: 100%;
    }

    article {
        width: 100%;
    }

    ul {
        background-color: rgb(128, 128, 128);
    }

    @media all and (min-width: 920px) {
        img{
            width: 100%;

        }

        article#box {
            width: 40%;
            float: left;
        }

        article.Amsterdam {
            width: 53%;
            float: right;
            padding: 10px;
        }


        article#box {
            padding-top: 14px;
        }

        ul {
            background-color: rgb(128, 128, 128);
        }

        li {
            display: inline-block;
            border: none;
        }
    }

    @media all and (min-width: 1200px) {
        img{
            width: 100%;
        }

        article#box {
            width: 40%;
            float: left;
        }

        article.Amsterdam {
            width: 53%;
            float: right;
            padding: 14px;
        }


        article#box {
            padding-top: 25px;
        }

        ul {
            background-color: rgb(128, 128, 128);
        }

        li {
            display: inline-block;
            border: none;

        }
    }

}

